/* ----- COMMON STYLES ----- */
:root {
  --main-bg: #eaecee;
  --gray: #666666;
  --white: #ffffff;
  --black: #000000;
  --pink: #ff4363;
}
body {
  font-size: 18px;
  background: var(--main-bg);
}
.main-container {
  max-width: 1680px;
  margin: 0 auto;

  position: relative;
  /* color: var(--white); */
}
h2 {
  font-size: 60px;
  line-height: 72px;
  font-weight: bold;
  color: var(--black);
}
/* ----- HEADER STYLES ----- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  padding: 21px 120px;
}
.main-nav {
  display: flex;
  gap: 16px;
}
.main-nav a {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
}
.bg-pink {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/* ----- HOME STYLES ----- */

#home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--white);
}
.left-side {
  max-width: 613px;
  margin-top: 160px;
  margin-left: 120px;
}
#home .right-side {
  background-image: url('../images/home-banner.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 861px;
  width: 861px;
  transform: rotate(-8deg);
  padding-right: 0px;
  margin-top: -62px;
}
/* .home-banner {
  transform: rotate(-8deg);
  width: 861px;
  margin-top: -63px;
} */
h1 {
  font-size: 82px;
  font-weight: bold;
}
.home-p {
  margin: 31px 0;
}
.btn {
  border: 1px solid transparent;
  border-radius: 35px;
  font-size: 24px;
  padding: 18px 22px;
}
.btn-white {
  background-color: var(--white);
  color: var(--pink);
}
.btn-pink {
  background-color: var(--pink);
  color: var(--white);
}
.play-btn {
  color: var(--white);
}
.btn-white:hover {
  transition: all 1s;
  background-color: var(--pink);
  color: var(--white);
}
.btn-pink:hover {
  transition: all 1s;
  background-color: var(--white);
  color: var(--pink);
}
/* ----- WHY-US STYLES ----- */
#why-us {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin: 120px;
}
.card {
  max-width: 370px;
  line-height: 48px;
  background-color: var(--white);
  color: var(--gray);
  text-align: center;
  border: 1px solid var(--white);
  border-radius: 10px;
  /* cursor: pointer; */
  padding: 70px 48px 32px;
}
h3 {
  color: var(--black);
  font-size: 24px;
  font-weight: 600;
}
/* ----- DESIGN STYLES ----- */
#design {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  color: var(--black);
}
#design .right-side {
  max-width: 589px;
}
.design-list {
  margin: 37px 0 50px;
}
.design-list li::before {
  content: '\2022';
  color: var(--pink);
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  width: 1.2em;
}
.design-p {
  margin: 22px 0 30px;
}
/* ----- PATTERN STYLES ----- */
#features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  margin: 120px 0 120px;
}
#features .left-side {
  margin-top: 0;
}
#features h2 {
  margin: 25px 0 50px;
}
.feature-item {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto auto;
  gap: 20px;
  align-items: center;
  margin: 50px 0;
}
.feature-item > p {
  grid-column: 1/3;
  font-size: 16px;
}
#features .right-side img {
  align-items: center;
}
