/* ----- COMMON STYLES ----- */
:root {
  --main-bg: #eaecee;
  --gray: #666666;
  --white: #ffffff;
  --black: #000000;
  --pink: #ff4363;
  --light-pink: #ff7588;
  --transparent-pink: #f494a16a;
}
body {
  font-size: 18px;
  background: var(--main-bg);
  font-family: 'Poppins', sans-serif;
}
.main-container {
  max-width: 1680px;
  margin: 0 auto;

  position: relative;
  /* color: var(--white); */
}
h2 {
  font-size: 60px;
  line-height: 72px;
  font-weight: bold;
  color: var(--black);
  font-family: 'Roboto', sans-serif;
}
p {
  line-height: 30px;
}
/* ----- HEADER STYLES ----- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  padding: 21px 120px;
  position: relative;
}
.main-nav {
  display: flex;
  gap: 16px;
}
.main-nav a {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
}
.toggle-btn {
  position: absolute;
  top: 30px;
  right: 60px;
  -moz-outline-radius-topright: 20px;
  color: var(--white);
  font-size: 35px;
  display: none;
}
.bg-pink {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/* ----- HOME STYLES ----- */

#home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--white);
}
.left-side {
  max-width: 613px;
  margin-top: 160px;
  margin-left: 120px;
}
#home .right-side {
  background-image: url('../images/home-banner.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 861px;
  width: 861px;
  transform: rotate(-8deg);
  margin-right: -60px;
  margin-top: -62px;
}
h1 {
  font-size: 82px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.home-p {
  margin: 31px 0;
}
.btn-container {
  display: flex;
  gap: 15px;
}
.btn {
  border: 1px solid transparent;
  border-radius: 35px;
  font-size: 24px;
  padding: 18px 22px;
  font-family: 'Poppins', sans-serif;
}
.btn-white {
  background-color: var(--white);
  color: var(--pink);
  transition: all 1s ease;
}
.btn-pink {
  background-color: var(--pink);
  color: var(--white);
  transition: all 1s ease;
}
.play-btn {
  color: var(--white);
}
.btn-white:hover {
  background-color: var(--pink);
  border: 1px solid var(--white);
  color: var(--white);
}
.btn-pink:hover {
  background-color: var(--white);
  border: 1px solid var(--white);
  color: var(--pink);
}
/* ----- WHY-US STYLES ----- */
#why-us {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin: 120px;
}
.card {
  max-width: 370px;
  line-height: 48px;
  background-color: var(--white);
  color: var(--gray);
  text-align: center;
  border: 1px solid var(--white);
  border-radius: 10px;
  /* cursor: pointer; */
  padding: 70px 48px 32px;
}
.card {
  cursor: pointer;
  transition: 0.5s all linear;
}
.card:hover {
  transform: scale(1.15);
}
.card img {
  transition: 0.5s all ease-in;
}
.card img:hover {
  transform: rotateY(0.5turn);
}
h3 {
  color: var(--black);
  font-size: 24px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}
/* ----- DESIGN STYLES ----- */
#design {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  color: var(--black);
}
#design .right-side {
  max-width: 589px;
  margin-right: 120px;
}
#design .right-side h2 {
  margin-top: 25px;
}
#design .left-side {
  margin-left: -60px;
}
.design-list {
  margin: 37px 0 50px;
  line-height: 30px;
}
.design-list li::before {
  content: '\2022';
  color: var(--pink);
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  width: 1.2em;
}
.design-p {
  margin: 22px 0 30px;
}
/* ----- PATTERN STYLES ----- */
#features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: 120px 0 120px;
}
#features .left-side {
  margin-top: 0;
}
#features h2 {
  margin: 25px 0 50px;
}
.feature-item {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto auto;
  gap: 20px;
  align-items: center;
  margin: 50px 0;
}
.feature-item > p {
  grid-column: 1/3;
  font-size: 16px;
}
#features .right-side {
  margin-right: -120px;
}
/* ----- NEXT-WAY STYLES ----- */
#next-way {
  background-image: url('../images/next-way-bg.svg');
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 70px;
}
#next-way .right-side {
  max-width: 589px;
  margin-right: 120px;
}
#next-way p,
#next-way h2 {
  color: var(--white);
  margin-bottom: 50px;
}
#next-way img {
  margin-top: -240px;
  margin-left: -120px;
}
/* ----- Q-A STYLES ----- */
#q-a {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-top: 120px;
  margin-bottom: 70px;
}
#q-a .left-side {
  margin-top: 0;
}
#q-a .right-side {
  margin-top: 60px;
}
.qustions-box {
  margin-top: 43px;
}
#q-a h2 {
  margin: 31px 0;
}
#q-a h3 {
  color: var(--light-pink);
  margin-bottom: 14px;
}
/* ----- STATISTICS STYLES ----- */
#statistics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  background-color: var(--pink);
  padding: 100px;
}
.stat-item {
  color: var(--white);
  text-align: center;
}
.stat-num {
  font-size: 60px;
  font-weight: bold;
  line-height: 48px;
  color: var(--white);
  margin-bottom: 20px;
}
/* ----- CONTACT-US STYLES ----- */
#contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 100px 60px;
}
#contact p {
  max-width: 592px;
}
.form {
  display: grid;
  grid-template-areas: 'name email' 'message message';
  gap: 20px;
}
#message {
  grid-area: message;
}
label[for='name'] {
  grid-area: name;
}
label[for='email'] {
  grid-area: email;
}
input[name='email'],
input[name='name'],
textarea {
  background-color: var(--transparent-pink);
  border: 4px solid var(--pink);
  border-top: none;
  border-bottom: none;
  padding: 15px 32px;
  width: 100%;
}
input:focus,
textarea:focus {
  outline: none;
}
/* ----- FOOTER STYLES ----- */
#footer {
  background-color: var(--black);
  padding: 70px 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}
.fa-brands {
  font-size: 48px;
  color: var(--white);
}
small {
  color: var(--white);
}

@media screen and (max-width: 1560px) {
  #home {
    align-items: end;
  }
  #home .right-side {
    width: 500px;
    height: 500px;
    margin-right: 0;
    transform: rotate(0);
  }
  #why-us .card {
    max-width: 300px;
    padding: 48px 24px 32px;
  }
  #design .left-side {
    margin-left: 120px;
  }
  #design .left-side > img {
    width: 400px;
  }
  #features .right-side {
    margin-right: 0;
  }
  #features .right-side > img {
    width: 550px;
  }
  #q-a .right-side > img {
    width: 300px;
    margin-right: 60px;
  }
}
@media screen and (max-width: 1370px) {
  .main-container {
    max-width: 1250px;
  }
  .left-side {
    margin-top: 80px;
  }

  #home .right-side {
    display: none;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  #why-us {
    margin-top: 160px;
  }
  #design {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #design .left-side,
  #design .right-side {
    margin-left: 60px;
    margin-right: 60px;
  }
  #design .left-side {
    display: none;
  }
  #design .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #features {
    margin-bottom: 58px;
  }
  #features .right-side {
    margin-left: auto;
  }
  #features .right-side img {
    width: 400px;
  }
  #next-way {
    background-image: none;
    background-color: var(--pink);
    padding-top: 20px;
  }
  #next-way .left-side img {
    width: 400px;
  }
  #next-way .right-side {
    margin-left: auto;
  }
  #q-a .right-side {
    margin-left: auto;
    margin-top: 0;
  }
  #q-a .right-side > img {
    width: 200px;
  }
}
@media screen and (max-width: 1170px) {
  h3 {
    font-size: 32px;
    line-height: 36px;
  }
  h2 {
    font-size: 52px;
    line-height: 56px;
  }
  h1 {
    font-size: 68px;
    line-height: 72px;
  }
  #why-us .card {
    max-width: 210px;
    padding: 32px 14px 24px;
  }
  .card p {
    font-size: 14px;
  }
  #design h2 {
    text-align: center;
  }
}
@media screen and (max-width: 960px) {
  .navigation {
    width: 100%;
    display: none;
  }
  .toggle-btn {
    display: block;
    cursor: pointer;
  }
  .navigation.active {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .main-nav {
    flex-direction: column;
    align-items: flex-end;
  }
  .bg-pink {
    display: none;
  }
  header,
  #home {
    padding-right: 60px;
    padding-left: 60px;
    background-color: var(--pink);
  }
  #home .left-side {
    margin-left: 0;
  }
  #home {
    padding-bottom: 30px;
  }
  #why-us {
    flex-direction: column;
    align-content: center;
    gap: 32px;
    margin: 60px;
  }
  #why-us .card {
    max-width: 300px;
  }
  #features,
  #q-a {
    margin: 60px;
  }
  #features .left-side,
  #q-a .left-side {
    margin: 0;
  }
  #next-way {
    padding-left: 60px;
  }
  #statistics {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content;
    gap: 60px;
    padding: 60px;
  }
  #footer {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 48px;
    line-height: 1.2em;
  }
  h2 {
    font-size: 36px;
    line-height: 1.2em;
  }
  h3 {
    font-size: 22px;
    line-height: 1.2em;
  }
  .stat-num {
    font-size: 42px;
  }
  .btn {
    font-size: 18px;
  }
  .form {
    grid-template-areas: 'name name' 'email email' 'message message';
  }
  .btn-container {
    display: flex;
    flex-direction: column;
  }
  .fa-brands {
    font-size: 32px;
  }
}
@media screen and (max-width: 576px) {
  #features .right-side > img,
  #next-way .left-side > img {
    width: 250px;
  }
  img[alt='logo'] {
    height: 45px;
  }
  #statistics {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
  }
  #footer {
    padding: 40px 60px;
  }
}
